/* --------------------------------- Imports Filles --------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                 Animations                                 */
/* -------------------------------------------------------------------------- */
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    transform: translateX(10rem);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveUp {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }

  to {
    transform: translateY(0rem);
  }
}

/* -------------------------------------------------------------------------- */
/*                                  start => Global                           */
/* -------------------------------------------------------------------------- */
/*
 => I put after & before with * cause they haven't this values from padding and margin
 => I put box sizing inherit because not all of elemnt's inherit this value
*/
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "lato", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
}

/* -------------------------------------------------------------------------- */
/*                                   End => Global                            */
/* -------------------------------------------------------------------------- */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.7), rgba(40, 180, 133, 0.44)), url("../img/hero.jpg");
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
  position: relative;
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__entire-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 3rem;
}

.heading-primary--main,
.heading-primary--sub {
  display: block;
}

.heading-primary--main {
  font-size: 4rem;
  letter-spacing: 2.5rem;
  font-weight: 900;
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.heading-primary--sub {
  font-size: 1.8rem;
  letter-spacing: 1rem;
  font-weight: 700;
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/* -------------------------------------------------------------------------- */
/*                                   End => Header_Section                    */
/* -------------------------------------------------------------------------- */

/*# sourceMappingURL=main.css.map */