.u-text-center {
  text-align: center;
}

// margin
.u-margin-bottem-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottem-medium {
  margin-bottom: 4rem;
}

.u-margin-bottem-big {
  margin-bottom: 8rem;
}

.u-margin-bottem-huge {
  margin-bottom: 12rem;
}


.u-margin-top-big {
  margin-top: 8rem;
}

.u-padding-y-small {
  padding: 3.5rem 0;
}

.u-padding-y-medium {
  padding: 5rem 0;
}